:root {
    --header-height: 64px;
    --clr-white: #f2f2f2;
    --clr-light-gray: #616161;
    --clr-dark-gray: #333;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: var(--clr-white);
}
::-webkit-scrollbar-thumb {
    background: var(--clr-dark-gray);
    border: 1px solid var(--clr-white);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--clr-light-gray);
}
* {
    box-sizing: border-box;
    font-size: 10px;
    margin: 0;
    padding: 0;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
body {
    background-image: linear-gradient(45deg,#2e3234,#242728);
    height: 100%;
    width: 100%;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    background-color: var(--clr-white);
}
nav {
    height: 100%;
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav a {
    text-decoration: none;
    color: var(--clr-dark-gray);
    font-size: 2.5rem;
    text-align: center;
    padding: 1em;
}
.nav-home {
    color: var(--clr-light-gray);
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--clr-dark-gray);
    writing-mode: vertical-lr;
    border-left: 1px solid var(--clr-white);
    border-right: 1px solid var(--clr-white);
    border-top: 1px solid var(--clr-white);
    outline: solid 1px var(--clr-white);
    outline-offset: -1px;
    transition:
        background-color 250ms ease,
        color 250ms ease,
        border-bottom 250ms ease,
        outline-offset 250ms ease,
        outline-width 250ms ease;
}
.nav-home:hover {
    background-color: var(--clr-dark-gray);
    border-bottom: 1px solid var(--clr-white);
    outline-offset: -6px;
    outline-width: 6px;
}
.nav-home:hover .home-link {
    color: var(--clr-white);
}
.nav-links {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--clr-white);
}
.nav-links a {
    outline: solid 0px var(--clr-white);
    transition:
        background-color 250ms ease,
        color 250ms ease,
        outline-offset 250ms ease,
        outline-width 250ms ease;
}
.nav-links a:hover{
    background-color: var(--clr-light-gray);
    color: var(--clr-white);
    outline-offset: -6px;
    outline-width: 6px;
}
.nav-links a:focus {
    background-color: var(--clr-light-gray);
    color: var(--clr-white);
    outline-offset: -6px;
    outline-width: 6px;
}
.construction {
    position: fixed;
    right: 0;
    padding: 1rem;
    pointer-events: none;
}
.construction p {
    font-size: 2rem;
    color: var(--clr-white);
}
.main-container {
    height: calc(100vh);
    width: 100%;
    padding-left: 140px;
    color: var(--clr-white);
}
.about-title {
    height: calc(100% / 3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-title h1 {
    font-size: 10rem;
    text-align: center;
}
.about-desc {
    height: calc(100% / 3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about-desc p {
    font-size: 3rem;
    line-height: 5rem;
}
.about-icons {
    height: calc(100% / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.about-icons a {
    color: var(--clr-white);
    text-decoration: none;
}
.icon {
    font-size: 6rem;
    padding: 1em;
    transition: all 250ms ease;
}
.about-icons a:hover .icon{
    transform: scale(1.5);
}
.about-icons a:active .icon {
    transform: scale(1.5);
}
.divider {
    border-bottom: 1px solid var(--clr-white);
}
#portfolio {
    display: flex;
}
.portfolio-divider {
    width: 50%;
    height: 100%;
    display: inline;
}
.portfolio-divider:first-of-type {
    border-right: 1px solid var(--clr-white);
}
.portfolio-divider h2 {
    font-size: 5rem;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.portfolio-divider p {
    font-size: 2rem;
}
.divider-grid {
    height: 90%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    padding: 0 2rem 2rem;
}
.divider-grid a {
    text-decoration: none;
    color: inherit;
}
.portfolio-item {
    place-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 1rem;
    outline: 1rem solid rgba(0, 0, 0, 0);
    transition: outline 300ms ease, border 300ms ease;
}
.portfolio-item:hover {
    border: 1rem solid var(--clr-white);
    outline: 0px solid var(--clr-white);
}
.portfolio-item h3 {
    font-size: 3rem;
    margin-bottom: .5rem;
}
.has-item h3 {
    text-shadow:
    -1px -1px 0px var(--clr-dark-gray),
    -1px 1px 0px var(--clr-dark-gray),
    1px -1px 0px var(--clr-dark-gray),
    1px 1px 0px var(--clr-dark-gray);
}
.has-item p {
    font-size: 2rem;
    color: var(--clr-white);
    text-shadow:
    -1px -1px 0px var(--clr-light-gray),
    -1px 1px 0px var(--clr-light-gray),
    1px -1px 0px var(--clr-light-gray),
    1px 1px 0px var(--clr-light-gray);
}
.champion {
    background: url("champion_snorkeling.jpg") center;
    background-size: cover;
    border-radius: 1px;
    border: 0;
}
#contact {
    display: grid;
    place-items: center;
}
#contact form {
    display: flex;
    flex-direction: column;
}
.form-label {
    display: block;
    font-size: 4rem;
    margin-bottom: 4rem;
}
#contact input, textarea {
    display: block;
    width: 100%;
    padding: .5em;
    margin-top: 1rem;
}
#contact input {
    font-size: 2.2rem;
}
#contact textarea {
    font-size: 1.8rem;
    min-height: 100%;
}
#contact button {
    width: auto;
    margin: 1rem auto 0;
    padding: 1em 2em;
    font-size: 2rem;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0);
    color: var(--clr-white);
    outline: solid 1px var(--clr-white);
    cursor: pointer;
    transition: 
        background-color 250ms ease,
        color 250ms ease,
        outline-offset 250ms ease,
        outline-width 250ms ease;
}
#contact button:hover {
    background-color: var(--clr-dark-gray);
    color: var(--clr-white);
    outline-offset: -6px;
    outline-width: 6px;
}