/* @font-face {
    font-family: "Inconsolata";
    src: "../fonts/static/Inconsolata_Condensed-Light.ttf" format("truetype");
} */

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: var(--clr-white);
}

::-webkit-scrollbar-thumb:hover {
    background: white;
}

:root {
    --header-height: 64px;
    --clr-white: #f2f2f2;
    --clr-light-gray: #616161;
    --clr-dark-gray: #333;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Inconsolata", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background: black;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,1)
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.nav-links a {
    font-size: 1rem;
    padding: 1em;
    text-decoration: none;
    color: var(--clr-white);
    font-size: 1rem;
    transition:
        outline-offset 250ms ease-in-out,
        outline-width 250ms ease-in-out;
}

.nav-links a:hover {
    outline: solid 0px var(--clr-white);
    outline-offset: -6px;
    outline-width: 3px;
}

input[type=checkbox] {
    position: absolute;
    display: none;
}

.top-label, .bottom-label {
    z-index: 1;
    position: fixed;
    min-width: 100vw;
    min-height: 50vh;
    display: grid;
    place-content: center;
    text-align: center;
    background-color: white;
    color: black;
    text-align: center;
}

.top-label {
    top: 0;
}

.bottom-label {
    bottom: 0;
}

.no-hover {
    display: block;
}

.hover {
    display: none;
}

.overlay-text {
    font-size: 2rem;
}

.small-overlay-text {
    font-size: 1rem;
}

.fullscreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100vh;
    min-width: 100vw;
}

.dim {
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.3);
}

.bg-video {
    z-index: -2;
}

.main-container {
    color: var(--clr-white);
}

#about {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.about-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-title {
    padding: 2rem 1em;
}

.about-title h1 {
    font-size: 2.8rem;
    text-align: center;
}

.about-h2 {
    padding: 2.2rem 1em;
    flex-direction: column;
}

.about-h2 h2 {
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2rem;
}

.about-h2 h2:first-of-type {
    margin-bottom: 1rem;
}

.about-desc {
    padding: 2rem 1em;
    flex-direction: column;
}

.about-desc ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
    line-height: 1.5rem;
}

.about-desc p {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.about-icons {
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-around;
    padding: 2rem 1em;
    overflow-x: hidden;
}

.about-icons a {
    color: var(--clr-white);
    text-decoration: none;
}

.icon {
    font-size: 3rem;
    transition: all 250ms ease;
}

.about-icons a:active .icon {
    transform: scale(1.5);
}

.clip {
    height: 100px;
}

.about-websites-divider {
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    background: rgba(0, 0, 0, 0.7);
}

#websites {
    /* height: 400px; */
    padding-top: 2rem;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
}

.websites-github-divider {
    clip-path: polygon(0 0, 100% 100%, 100% 0);
    background: rgba(0, 0, 0, 0.7);
}

#github {
    position: relative;
    /* height: 400px; */
    padding-top: 2rem;
    background: rgba(255, 255, 255, 0.8);
    color: black;
    text-align: center;
}

.websites-github-inner {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    clip-path: polygon(0 0, 0 100%, 100% 100%);
    background: rgba(255, 255, 255, 0.8);
}

.github-contact-divider {
    clip-path: polygon(0 0, 0 100%, 100% 0);
    background: rgba(255, 255, 255, 0.8);
}

#contact {
    /* height: 400px; */
    padding-top: 2rem;
    text-align: center;
}

/* .portfolio-item {
    place-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 1rem;
    outline: 1rem solid rgba(0, 0, 0, 0);
    transition: outline 300ms ease, border 300ms ease;
}

.portfolio-item:hover {
    border: 1rem solid var(--clr-white);
    outline: 0px solid var(--clr-white);
}

.champion {
    background: url("images/champion_snorkeling.webp") center;
    background-size: cover;
    border-radius: 1px;
    border: 0;
} */

/* custom animation time properties */

.overlay {
    --text-grow-duration: 400ms;
    --slide-delay: 400ms;
    --slide-duration: 500ms;
}

/* if audio is played */

#play-audio-toggle:checked~* .grow-shrink-top {
    animation-fill-mode: forwards;
    animation-name: text-grow;
    animation-duration: var(--text-grow-duration);
}

#play-audio-toggle:checked~* .grow-shrink-bot {
    animation-fill-mode: forwards;
    animation-name: text-shrink;
    animation-duration: var(--text-grow-duration);
}

#play-audio-toggle:checked~* .bar-top {
    animation-fill-mode: forwards;
    animation-name: text-bar-down;
    animation-delay: 400ms;
    animation-duration: 500ms;
}

#play-audio-toggle:checked~* .bar-bot {
    animation-fill-mode: forwards;
    animation-name: text-bar-up;
    animation-delay: 400ms;
    animation-duration: 500ms;
}

/* if audio is muted */

#mute-audio-toggle:checked~* .grow-shrink-bot {
    animation-fill-mode: forwards;
    animation-name: text-grow;
    animation-duration: var(--text-grow-duration);
}

#mute-audio-toggle:checked~* .grow-shrink-top {
    animation-fill-mode: forwards;
    animation-name: text-shrink;
    animation-duration: var(--text-grow-duration);
}

#mute-audio-toggle:checked~* .bar-top {
    animation-fill-mode: forwards;
    animation-name: text-bar-down;
    animation-delay: 400ms;
    animation-duration: 400ms;
}

#mute-audio-toggle:checked~* .bar-bot {
    animation-fill-mode: forwards;
    animation-name: text-bar-up;
    animation-delay: 400ms;
    animation-duration: 400ms;
}

@keyframes text-shrink {
    to {
        transform: scale(0.7);
    }
}

@keyframes text-grow {
    to {
        transform: scale(1.2);
    }
}

@keyframes text-bar-down {
    to {
        transform: translateY(25vh) scale(20, 0.2);
        background-color: black;
    }
}

@keyframes text-bar-up {
    to {
        transform: translateY(-25vh) scale(20, 0.2);
        background-color: black;
    }
}

/* slide up overlay */

#play-audio-toggle:checked~* .top-label {
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-name: slide-up;
    animation-delay: 900ms;
    animation-duration: var(--slide-duration);
}

#play-audio-toggle:checked~* .bottom-label {
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-name: slide-down;
    animation-delay: 900ms;
    animation-duration: var(--slide-duration);
}

#mute-audio-toggle:checked~* .top-label {
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-name: slide-up;
    animation-delay: 900ms;
    animation-duration: var(--slide-duration);
}

#mute-audio-toggle:checked~* .bottom-label {
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-name: slide-down;
    animation-delay: 900ms;
    animation-duration: var(--slide-duration);
}

@keyframes slide-up {
    to {
        transform: translateY(-100vh);
    }
}

@keyframes slide-down {
    to {
        transform: translateY(100vh);
    }
}

#scroll-snap {
    scroll-snap-type: y mandatory;
}
#about {
    scroll-snap-align: start;
}
#portfolio {
    scroll-snap-align: start;
}