::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: var(--clr-white);
}

::-webkit-scrollbar-thumb:hover {
    background: white;
}

:root {
    --header-height: 64px;
    --clr-white: #f2f2f2;
    --clr-light-gray: #616161;
    --clr-dark-gray: #333;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Inconsolata', monospace;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background: black;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 1);
    z-index: 0;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.nav-links a {
    font-size: 1rem;
    padding: 1em;
    text-decoration: none;
    color: var(--clr-white);
    font-size: 1rem;
    transition: outline-offset 250ms ease-in-out, outline-width 250ms ease-in-out;
}

.nav-links a:hover {
    outline: solid 0px var(--clr-white);
    outline-offset: -6px;
    outline-width: 3px;
}

input[type=checkbox] {
    position: absolute;
    display: none;
}

.top-label, .bottom-label {
    z-index: 1;
    position: fixed;
    min-width: 100vw;
    min-height: 50vh;
    display: grid;
    place-content: center;
    text-align: center;
    background-color: white;
    color: black;
    text-align: center;
}

.top-label {
    top: 0;
}

.bottom-label {
    bottom: 0;
}

.no-hover {
    display: block;
}

.hover {
    display: none;
}

.overlay-text {
    font-size: 2rem;
}

.small-overlay-text {
    font-size: 1rem;
}

.fullscreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100vh;
    min-width: 100vw;
}

.dim {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 110vh;
    min-width: 110vw;
    z-index: -1;
    background: rgba(0, 0, 0, 0.3);
}

.bg-video {
    z-index: -2;
}

.main-container {
    color: var(--clr-white);
}

#about {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}

.about-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-title {
    margin-bottom: 2rem;
}

.text-pop {
    text-shadow: -1px -1px 15px black, -1px 1px 15px black, 1px -1px 15px black, 1px 1px 15px black;
}

.about-title h1 {
    font-size: 2.8rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.about-h2 {
    margin: 2rem 0;
    flex-direction: column;
}

.about-h2 h2 {
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2rem;
}

.about-h2 h2:first-of-type {
    margin-bottom: 1rem;
}

.about-desc {
    margin: 2rem 0;
    flex-direction: column;
}

.about-desc ul {
    font-size: 1.2rem;
    line-height: 1.7rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-desc p {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.about-icons {
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.about-icons a {
    color: var(--clr-white);
    text-decoration: none;
}

.icon {
    font-size: 3rem;
    transition: all 250ms ease;
}

.about-icons a:active .icon {
    transform: scale(1.5);
}

.clip {
    height: 100px;
}

.about-websites-divider {
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    background: rgba(0, 0, 0, 0.7);
}

#websites h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

#github h2 {
    font-size: 2.5rem;
}

#websites {
    /* height: 400px; */
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2rem 0;
}

.website-desc {
    text-align: center;
    font-size: 1rem;
    margin: 2rem;
    max-width: 60ch;
}

.card-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.card-container a {
    text-decoration: none;
    color: inherit;
}

.websites-card {
    width: 300px;
    height: 300px;
    flex-basis: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    outline: 1rem solid rgba(0, 0, 0, 0);
    transition: outline 300ms ease, border 300ms ease;
}

.websites-card:hover {
    border: 1rem solid var(--clr-white);
    outline: 0px solid var(--clr-white);
}

.champion-snorkel {
    background: url("../images/champion_snorkeling.webp") center;
    background-size: cover;
}

.seven-digits {
    background: url("../images/7digits.webp"), url("../images/7digits.jpg") center;
    background-size: cover;
    border: 0;
}

.website-name, .website-url {
    text-shadow: -1px -1px 5px black, -1px 1px 5px black, 1px -1px 5px black, 1px 1px 5px black;
}

.website-name {
    font-size: 2rem;
}

.website-url {
    font-size: 1.4rem;
}

.websites-github-divider {
    clip-path: polygon(0 0, 100% 100%, 100% 0);
    background: rgba(0, 0, 0, 0.7);
}

#github {
    position: relative;
    /* height: 400px; */
    background: rgba(255, 255, 255, 0.8);
    color: black;
    text-align: center;
}

.websites-github-inner {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    clip-path: polygon(0 0, 0 100%, 100% 100%);
    background: rgba(255, 255, 255, 0.8);
}

.github-contact-divider {
    clip-path: polygon(0 0, 0 100%, 100% 0);
    background: rgba(255, 255, 255, 0.8);
}

#contact {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: max-content;
    padding: 2rem 0;
}

.contact-info {
    text-align: center;
    margin-bottom: 3rem;
}

.contact-info h2 {
    font-size: 2.5rem;
    margin-bottom: .5rem;
}

.contact-info p {
    font-size: 1.6rem;
}

#contact form {
    min-width: 300px;
    margin: 0 auto;
}

#contact form label, input, textarea, button {
    display: block;
    font-family: inherit;
}

#contact form label {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

#contact form input, textarea {
    margin-bottom: 2rem;
    padding: 1em;
    width: 100%;
    background: rgba(255, 255, 255, .6);
    color: black;
    font-size: 1rem;
    border: none;
    border-radius: 3px;
    transition: background-color 250ms ease, color 250ms ease, box-shadow 250ms ease;
}

#contact form button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: .5em 2em;
    background: rgba(255, 255, 255, .6);
    width: auto;
    min-width: 100px;
    font-size: 1.5rem;
    border: none;
    border-radius: 3px;
    transition: background-color 250ms ease, color 250ms ease, box-shadow 250ms ease;
}

#contact form input:hover, textarea:hover {
    background-color: rgba(0, 0, 0, .6);
    color: white;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
    outline: none;
}

#contact form input:focus, textarea:focus {
    background-color: rgba(0, 0, 0, .9);
    color: white;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .9);
    outline: none;
}

#contact form button:hover, button:focus {
    background-color: rgba(0, 0, 0, .9);
    color: white;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .9);
    outline: none;
}

#contact form button:focus, button:focus {
    background-color: rgba(0, 0, 0, .9);
    color: white;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .9);
    outline: none;
}

/* .portfolio-item {
    place-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 1rem;
    outline: 1rem solid rgba(0, 0, 0, 0);
    transition: outline 300ms ease, border 300ms ease;
}

.portfolio-item:hover {
    border: 1rem solid var(--clr-white);
    outline: 0px solid var(--clr-white);
}

.champion {
    background: url("images/champion_snorkeling.webp") center;
    background-size: cover;
    border-radius: 1px;
    border: 0;
} */

/* custom animation time properties */

.overlay {
    --text-grow-duration: 400ms;
    --slide-delay: 400ms;
    --slide-duration: 500ms;
}

/* if audio is played */

#play-audio-toggle:checked~* .grow-shrink-top {
    animation-fill-mode: forwards;
    animation-name: text-grow;
    animation-duration: var(--text-grow-duration);
}

#play-audio-toggle:checked~* .grow-shrink-bot {
    animation-fill-mode: forwards;
    animation-name: text-shrink;
    animation-duration: var(--text-grow-duration);
}

#play-audio-toggle:checked~* .bar-top {
    animation-fill-mode: forwards;
    animation-name: text-bar-down;
    animation-delay: 400ms;
    animation-duration: 500ms;
}

#play-audio-toggle:checked~* .bar-bot {
    animation-fill-mode: forwards;
    animation-name: text-bar-up;
    animation-delay: 400ms;
    animation-duration: 500ms;
}

/* if audio is muted */

#mute-audio-toggle:checked~* .grow-shrink-bot {
    animation-fill-mode: forwards;
    animation-name: text-grow;
    animation-duration: var(--text-grow-duration);
}

#mute-audio-toggle:checked~* .grow-shrink-top {
    animation-fill-mode: forwards;
    animation-name: text-shrink;
    animation-duration: var(--text-grow-duration);
}

#mute-audio-toggle:checked~* .bar-top {
    animation-fill-mode: forwards;
    animation-name: text-bar-down;
    animation-delay: 400ms;
    animation-duration: 400ms;
}

#mute-audio-toggle:checked~* .bar-bot {
    animation-fill-mode: forwards;
    animation-name: text-bar-up;
    animation-delay: 400ms;
    animation-duration: 400ms;
}

@keyframes text-shrink {
    to {
        transform: scale(0.7);
    }
}

@keyframes text-grow {
    to {
        transform: scale(1.2);
    }
}

@keyframes text-bar-down {
    to {
        transform: translateY(25vh) scale(20, 0.2);
        background-color: black;
    }
}

@keyframes text-bar-up {
    to {
        transform: translateY(-25vh) scale(20, 0.2);
        background-color: black;
    }
}

/* slide up overlay */

#play-audio-toggle:checked~* .top-label {
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-name: slide-up;
    animation-delay: 900ms;
    animation-duration: var(--slide-duration);
}

#play-audio-toggle:checked~* .bottom-label {
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-name: slide-down;
    animation-delay: 900ms;
    animation-duration: var(--slide-duration);
}

#mute-audio-toggle:checked~* .top-label {
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-name: slide-up;
    animation-delay: 900ms;
    animation-duration: var(--slide-duration);
}

#mute-audio-toggle:checked~* .bottom-label {
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-name: slide-down;
    animation-delay: 900ms;
    animation-duration: var(--slide-duration);
}

@keyframes slide-up {
    to {
        transform: translateY(-100vh);
    }
}

@keyframes slide-down {
    to {
        transform: translateY(100vh);
    }
}

#scroll-snap {
    scroll-snap-type: y mandatory;
}

#about {
    scroll-snap-align: start;
}

#portfolio {
    scroll-snap-align: start;
}