@media screen and (min-width: 768px) {
    .grow-shrink-top {
        transition: transform 250ms ease;
    }
    .grow-shrink-top:hover {
        transform: scale(1.1);
    }
    .grow-shrink-bot {
        transition: transform 250ms ease;
    }
    .grow-shrink-bot:hover {
        transform: scale(1.1);
    }
    header {
        height: 100%;
        width: auto;
    }
    .nav-links {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .nav-links a {
        font-size: 1.2rem;
        transition: outline-offset 250ms ease-in-out, outline-width 250ms ease-in-out;
    }
    .nav-links a:focus {
        outline: solid 0px var(--clr-white);
        outline-offset: -6px;
        outline-width: 3px;
    }
    #about {
        padding: 2em 0;
    }
    .about-title h1 {
        font-size: 4.5rem;
    }
    .about-h2 h2 {
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .about-desc ul {
        font-size: 1.8rem;
        line-height: 2.3rem;
    }
    .about-desc p {
        font-size: 2rem;
    }
    .icon {
        font-size: 4rem;
    }
    .main-container {
        min-height: 100vh;
    }
}