@media screen and (min-width: 768px) {
    /* main {
        padding-left: 140px;
    } */
    header {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: auto;
        background-color: var(--clr-white);
    }
    nav {
        height: 100%;
        width: 140px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    nav a {
        text-decoration: none;
        color: var(--clr-dark-gray);
        font-size: 2.5rem;
        text-align: center;
        padding: 1em;
    }
    .nav-home {
        color: var(--clr-light-gray);
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid var(--clr-dark-gray);
        writing-mode: vertical-lr;
        border-left: 1px solid var(--clr-white);
        border-right: 1px solid var(--clr-white);
        border-top: 1px solid var(--clr-white);
        outline: solid 1px var(--clr-white);
        outline-offset: -1px;
        transition: background-color 250ms ease, color 250ms ease, border-bottom 250ms ease, outline-offset 250ms ease, outline-width 250ms ease;
    }
    .nav-home:hover {
        background-color: var(--clr-dark-gray);
        border-bottom: 1px solid var(--clr-white);
        outline-offset: -6px;
        outline-width: 6px;
    }
    .nav-home:hover .home-link {
        color: var(--clr-white);
    }
    .nav-links {
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid var(--clr-white);
    }
    .nav-links a {
        outline: solid 0px var(--clr-white);
        transition: background-color 250ms ease, color 250ms ease, outline-offset 250ms ease, outline-width 250ms ease;
    }
    .nav-links a:hover {
        background-color: var(--clr-light-gray);
        color: var(--clr-white);
        outline-offset: -6px;
        outline-width: 6px;
    }
    .nav-links a:focus {
        background-color: var(--clr-light-gray);
        color: var(--clr-white);
        outline-offset: -6px;
        outline-width: 6px;
    }
    .about-title h1 {
        font-size: 4rem;
    }
    .about-desc p {
        font-size: 2rem;
        line-height: 3rem;
    }
    .icon {
        font-size: 4rem;
    }
}